body{
	background-color:#f0f0f5;
}


.jumbotron{
	background-image: url("/assets/images/banner_pic.jpg");
 	background-size: cover;
 	background-position: center;	
}

#jumbo {
   color:white;
   font-family: 'Cabin', sans-serif;
}

/* home.html style */
.card{
	width: 100rem;
}

.public_blog_class{
	min-height: 400px;
}

.thumbnail_pic{
	max-height: 500px;
}
