<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<div th:include="layout/style"> style </div>
	</head>
<body>
	<span th:utext="${session.userEmail}"></span>
	<span th:utext="${session.adminEmail}"></span>
	
	<nav class="navbar navbar-default" sec:authorize="isAuthenticated()">
		    <ul class="nav nav-pills">
		     		
		           <li role="presentation"><a th:href="@{/home}">Home</a></li>
			    	<li  role="presentation"><a th:href="@{/article_form}">Add Post</a> </li>
			    	<li role="presentation"><a th:href="@{'/read/'+${#authentication.principal.username}}">View Your Public Blog</a></li>
			    	
			    	<li role="presentation"><a th:href="@{/logout}">Sign out</a></li>
		    </ul>
	</nav>
	
	<hr/>
	<div class="container" layout:fragment="content"></div>
	<hr/>
	
	
</body>
</html>