<html layout:decorator="layout/base">
	<section layout:fragment="content">		
		<h4>Add new post:</h4>
		
		
			<form  class="form-horizontal"   enctype="multipart/form-data"  th:action="@{/user/save}" th:object="${article}" method="post">
			
			   <input  class="form-control" type="hidden" th:field="*{id}" /> 
			   <input  class="form-control" type="text" th:field="*{title}" placeholder="title" />
			   <textarea class="form-control" rows="5" type="text" th:field="*{content}" placeholder="content"></textarea>
                <div  th:if="${image != null}">
                <img th:src="@{/image/{id}(id=${article.id})}" class="img-responsive" alt=""/> <!-- here is article id for now but needs to be changed to img id -->
                <input type="file" name="file"></input>
                <p class="help-block">Replace Image</p>
				<input class="btn btn-primary" type="submit" value="Save" />
                </div>
                
                <div th:if="${image == null}">
                <input type="file" name="file"></input>
                <p class="help-block">Add image to your post</p>
				<input class="btn btn-primary" type="submit" value="Save" />
				</div>
			</form>
			
				
	</section>
</html>