<html layout:decorator="layout/base">
	<section layout:fragment="content">	
		
		<div  th:if="${! #sets.isEmpty(articles)}">
		<h3> Your Posts:</h3>
		<table class="table table-hover table-bordered" >
			<tbody>
				<tr>
					<th>#</th>
					<th> Title</th>
					<th> View</th>
					<th> Edit</th>
					<th> Delete</th>
				</tr>
				
				<tr th:each="a,iterator : ${articles}">
					<td th:text="${iterator.count}"></td>
					<td  th:text="${a.title}"></td>
					 
					<td><a th:href="@{/read/article/{id}(id=${a.id})}" class="glyphicon glyphicon-eye-open"  ></a></td>
					<td><a th:href="@{/user/edit/{id}(id=${a.id})}" class="glyphicon glyphicon-pencil"  ></a></td>
					<td><a th:href="@{/user/delete/{id}(id=${a.id})}"  class="glyphicon glyphicon-trash"></a></td>
					
				</tr>
			</tbody>	
		</table>
		</div>
	</section>
</html>

<!-- <td><a class="btn red" th:href="@{/admin/delete_user/{id}(id=${u.id})}">delete</a></td>
<td><a class="btn red" th:href="@{/admin/reset_pass_user/{id}(id=${u.id})}">reset password</a></td> -->