<html layout:decorator="layout/base">
	<section layout:fragment="content">		
		<form  class="form-horizontal" th:action="@{/login}"  method="post">
			<fieldset>
			<div th:if="${param.error}" class="text-danger">
				Invalid username or password. Try again.
			</div>
			<label for="username"  class="control-label">Username</label>
			<input type="text" name="username" class="form-control"></input>
			<label for="password"  class="control-label">Password</label>
			<input type="password" name="password" class="form-control"></input>
		    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			
			<input class="btn btn-primary" type="submit" value="Sign In"/>
			</fieldset>
		</form>
		
			
	</section>
</html>