<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<div th:include="layout/style"> style </div>
	</head>
	<body>
	<nav class="navbar navbar-light bg-faded">
	    <a class="navbar-brand" th:href="@{'/read/'+${user.username}}" th:text="'You are reading '+${user.username}+'\'s blog'"> 
	    </a>  
	</nav>
	<section class="container" >	
		
		<div  th:if="${! #sets.isEmpty(article)}" >
	    	<div class="card" >
				  		 <img th:src="@{/image/{id}(id=${article.id})}" alt="" class="img-responsive" /> 
				  		 <div class="card-block">
							 <h2 th:text="${article.title}" class="card-title"> title </h2>
					    	 <p th:text="${article.content}" class="card-text"> content</p>
				    	</div>	 
				    	</div>
			  </div>
			
	</section>
	</body>
</html>